<!-- Launch file created to attend the requirements established on the Ex4 by the discipline of Intelligent Control \
     of Robotics Systems -->
<!-- Professor: Wouter Caarls-->
<!-- Students: Matheus do Nascimento Santos 1920858  (@matheusns) -->
<!--           Luciana Reys 1920856 (@lsnreys) -->

<launch>
    <!-- The following lines are respective to exercise 2.1 item 'b'-->
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <param name="image_transport" value="compressed" />
		<remap from="image" to="gpg/image" />
    </node>

    <include file="$(find gpg_remote)/launch/gpg_remote.launch"/>
    <!-- The previous lines are respective to exercise 2.1 item 'b'-->

    <node
        output = "screen"
        pkg="gpg_test" type="robot_controller_main.py" name="robot_pose_controller"/>

    <?ignore
        <!-- The following lines are respective to exercise 2.1 item 'e'-->
        <node
            launch-prefix="xterm -e"
            output = "screen"
            pkg="gpg_test" type="goal_sender_main.py" name="random_goal_sender" />
        <!-- The previous lines are respective to exercise 2.1 item 'e'-->
    ?>

    <!-- The following lines are respective to exercise 2.2-->
     <node
        output = "screen"
        pkg="gpg_test" type="GoPiGo_line_follower_main.py" name="GoPiGo_line_follower_node"/>
    <!-- The previous lines are respective to exercise 2.2-->


<?ignore
        <node
            output = "screen"
            pkg="gpg_test" type="robot_controller_main.py" name="robot_pose_controller"/>

        <node
            launch-prefix="xterm -e"
            output = "screen"
            pkg="turtlesim_control" type="goal_sender_main.py" name="turtle_pose_goal_sender" />
?>

     <node
        output = "screen"
        pkg="gpg_test" type="GoPiGo_line_follower_main.py" name="GoPiGo_line_follower_node"/>
</launch>
